@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@400;700;900&display=swap');

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
}

body {
}

p {
  margin: 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
span {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 15px;
  position: relative;
  margin: auto;
}

.section {
  color: #fff;
  margin: 15px 0;
}

@media (min-width: 1024px) {
  .section {
    margin: 20px 0;
  }
}

.bg-img {
  background-image: url(../img/bg.jpg);
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.titulo {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
}

.subtitulo {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;

  margin-top: 10px;
}

.profissao {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .titulo {
    font-size: 2.5rem;
  }

  .subtitulo {
    font-size: 1.6rem;
  }

  .profissao {
    font-size: 3rem;
  }
}

.descricao {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .descricao {
    font-size: 1.2rem;
  }
}

#hero {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #dedede;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 350ms ease;
}

#hero:hover {
  background: #fff;
}

#hero:hover .fas {
  color: #000;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: rgba(105, 105, 105, 1);
}

.header-bar .nome {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.2rem;
  position: relative;
}

.header-bar .redes-sociais {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bar .redes-sociais.redes-sociais .social-item .fab,
.header-bar .redes-sociais.redes-sociais .social-item .fas {
  font-size: 1.2rem;
  margin: 0 10px;
  transition: transform 350ms ease;
}

.redes-sociais .social-item .fab:hover,
.redes-sociais .social-item .fas:hover {
  transform: translateY(5px);
}

.menu-top .nav-top {
  margin: 0 auto;
  width: 100%;
  padding: 5px 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

@media (min-width: 1024px) {
  .menu-top .nav-top {
    display: block;
  }
}

.menu-top .nav-top .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  z-index: 2;
}

.menu-top .nav-top .menu .item {
  margin: 0 10px;
}

.menu-top .nav-top .menu .item a {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: relative;
}

.menu-top .nav-top .menu .item a:after {
  content: '';
  width: 0%;
  background: #fff;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: width 350ms ease;
}

.menu-top .nav-top .menu .item a:hover:after {
  width: 100%;
}

.menu-top .home {
  margin-top: 40px;
  height: 35vh;
  position: relative;
  z-index: 1;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1250px) {
  .menu-top .home {
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .menu-top .home {
    height: 55vh;
  }
}

.menu-top .home .img {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .menu-top .home .img {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1250px) {
  .menu-top .home .img {
    width: 300px;
    height: 300px;
  }
}

.menu-top .home .img img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-top .home .nome {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .menu-top .home .nome {
    font-size: 4rem;
  }
}

.menu-top .home .descricao {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

@media (min-width: 1024px) {
  .menu-top .home .descricao {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .menu-top .home .redes-sociais .social-item .fab,
  .menu-top .home .redes-sociais .social-item .fas {
    font-size: 2.2rem;
    margin: 0 15px;
  }
}

main {
  position: relative;
  padding: 10px 15px;
  margin: 0 20px 20px;
  z-index: 5;
  background: rgba(105, 105, 105, 0.9);
}

@media (min-width: 1024px) {
  main {
    padding: 30px 40px;
    margin: 0 60px 40px;
  }
}

@media (min-width: 1250px) {
  main {
    margin: 0 120px 40px;
  }
}

@media (min-width: 1250px) {
  .sobre-mim p {
    font-size: 1.9rem;
  }
}

@media (min-width: 1024px) {
  .sobre-mim p {
    font-size: 1.5rem;
  }
}
.sobre-mim p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.sobre-mim p a {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.experiencias {
  font-family: 'Lexend Deca', sans-serif;
}
.experiencias .exp-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.experiencias .exp-item .empresa {
  font-weight: 900;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .experiencias .exp-item .empresa {
    font-size: 1.45rem;
  }
}

.experiencias .exp-item .duracao {
  font-weight: 900;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .experiencias .exp-item .duracao {
    font-size: 1.2rem;
  }
}

.experiencias .exp-item .cargo {
  font-weight: 900;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .experiencias .exp-item .cargo {
    font-size: 1.25rem;
  }
}

.experiencias .exp-item .duracao,
.experiencias .exp-item .cargo,
.experiencias .exp-item .descricao {
  margin: 2px 0;
  font-size: 1rem;
}

@media (min-width: 1250px) {
  .experiencias .exp-item .descricao {
    font-size: 1.9rem;
  }
}

@media (min-width: 1024px) {
  .experiencias .exp-item .descricao {
    font-size: 1.2rem;
  }
}

.conhecimentos .conhecimentos-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

@media (min-width: 1024px) {
  .conhecimentos .conhecimentos-list {
    flex-direction: row;
  }
}

.conhecimentos .conhecimentos-list .conhecimento-item {
  width: calc(100% - 10px);
  height: 60px;
  margin: 5px auto;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;

  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 350ms ease;
}

.conhecimentos .conhecimentos-list .conhecimento-item:hover {
  background: transparent;
}

.conhecimentos .conhecimentos-list .conhecimento-item span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.3rem;
}

.conhecimentos .conhecimentos-list .conhecimento-item strong {
  color: #000;
}

.conhecimentos .conhecimentos-list .conhecimento-item i {
  font-size: 3rem;
  color: #000;
  margin-right: 10px;
}

.conhecimentos .conhecimentos-list .conhecimento-item:hover i {
  color: #fff;
}

.conhecimentos .conhecimentos-list .conhecimento-item:hover span,
.conhecimentos .conhecimentos-list .conhecimento-item:hover strong {
  color: #fff;
}

@media (min-width: 767px) {
  .conhecimentos .conhecimentos-list .conhecimento-item {
    width: calc(100% / 3 - 25px);
    margin: 5px;
  }
}

.conhecimentos .conhecimentos-list .conhecimento-item span {
  font-size: 1.1rem;
}
.conhecimentos .conhecimentos-list .conhecimento-item span strong {
  font-size: 1.1rem;
}

.projetos .descricao {
  font-size: 1rem;
}
.projetos .projects-item .descricao {
  font-size: 1rem;
}

@media (min-width: 1250px) {
  .projetos .descricao {
    font-size: 1.8rem;
  }
  .projetos .projects-item .descricao {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .projetos .descricao {
    font-size: 1rem;
  }
  .projetos .projects-item .descricao {
    font-size: 1rem;
  }
}

.projetos .projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto 10px;
}

.projetos .projects-list .projects-item {
  width: calc(100% - 20px);
  min-height: 200px;
  border: 1px solid #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 720px) {
  .projetos .projects-list .projects-item {
    width: calc(100% / 2 - 20px);
  }
}

@media (min-width: 1024px) {
  .projetos .projects-list .projects-item {
    width: calc(100% / 3 - 20px);
  }

  /* .projetos .projects-list .projects-item button{
    min-width: 200px;
  } */
}

.projetos .projects-list .projects-item .titulo {
  font-size: 1.3rem;
}

.projetos .projects-list .projects-item .descricao {
  text-align: center;
}

.projetos .projects-list .projects-item .links-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
}

.projetos .projects-list .projects-item .links-group i {
  font-size: 1.5rem;
}

.projetos .projects-list .projects-item button {
  height: 40px;
  width: calc(100% / 2 - 5px);
  padding: 5px;
  margin: 0 4px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 350ms ease;
}

.projetos .projects-list .projects-item button a {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.7rem;
}

/* @media (min-width: 540px){
  .projetos .projects-list .projects-item button{
    min-width: 170px;
  }
} */

.projetos .projects-list .projects-item button:hover {
  background: #fff;
}

.projetos .projects-list .projects-item button:hover a {
  color: #000;
}

.projetos .projects-list .projects-item button:hover i {
  color: #000;
}

@media (min-width: 1250px) {
  .habilidades .descricao {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .habilidades .descricao {
    font-size: 1.2rem;
  }
}

.habilidades .descricao {
  font-size: 1.2rem;
}
