
@media only screen and (min-width: 479px){
    .home .titulo {
        font-size: 3rem !important;
    }

    .home .subtitulo{
        font-size: 2rem !important;
    }
}
@media only screen and (min-width: 767px){
    .menu{
        display: flex !important;
    }
    .home .titulo {
        font-size: 6rem !important;
    }

    .home .subtitulo {
        font-size: 5rem !important;
    }

    .contatos {
        display:block !important;
    }

    .box{
        padding: 5px !important;
    }

    .link-a{
        margin-left: 20px !important;
    }
    
    .box .conhecimentos li {
        width: calc(100% / 3 - 10px) !important;
    }

}
@media only screen and (min-width: 991px){
    .titulo-img{
        display: block;
    }
    
    .home .titulo, .contatos{
        font-size: 3rem;
    }
}
@media only screen and (min-width: 1025px){

    .section img {
        object-fit: none;
        height: auto;
    }
    .home .titulo {
        font-size: 5.75rem !important;
    }

    .home .subtitulo {
        font-size: 3.75rem !important;
    }

    .box{
        padding: 25px !important;
    }

    .box h2 {
        font-size: 2rem !important;
    }

    .box p {
        font-size: 1.2rem !important;
    }
}


