html, body {
    padding: 0;
    margin: auto;
}

body {
    font-family: "Montserrat", 'Courier New', Courier, monospace;
	overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}

.container .menu {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: black;
    text-align: center;
}

.links{
    margin-top: 10px;
    font-family: 'Fredoka One', cursive;
}

.link-a {
    margin-left: 30px;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5em;
}

.link-a:hover {
    color: aquamarine;
}

.navegacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home .titulo , .contatos{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-family: 'Lobster', cursive;
    font-size: 5em;
}

a.link{
    margin: 0px 30px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 80px 40px;
}

.contatos .link {
    color: black;
}

.contatos .link:hover {
    color: aquamarine;
}

.box h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 3em;
}

.box p {
    font-family: 'Arvo', serif;
    line-height: 2em;
    font-size: 1.5em;
}
.descricao-experiencias{
    line-height: .1em;
}

.descricao-experiencias .titulo_h3{
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
}

.descricao-experiencias .titulo_h4{
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
}

.descricao-experiencias .titulo_h5{
    font-family: 'Fredoka One', cursive;
    font-size: 1.4em;
}

.footer {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}
