html, body {
    padding: 0;
    margin: auto;
    overflow: hidden;
}

body {
    font-family: "Montserrat", 'Courier New', Courier, monospace;
	overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}

.div-vazia {
    height: 50px;
}

section img {
    position: fixed;
    z-index: 1;
}
#hero{
    background: #fff;
    border: 1px solid #dedede;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
}

.fa-angle-up{
    color: #000;
}
.container .menu {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgb(255, 193, 0);
    text-align: center;
    z-index: 9;
    display: none;
}

.links{
    margin: 10px 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
}

.link-a {
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
    padding: 5px;
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.link-a:hover {
    color: #000;
    transition: ease-in-out .8s;
    background: #fff;
}

.navegacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home {
    margin: 0;
    height: 550px;
}

.home .titulo , .contatos{
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 900;
    font-size: 3em;
    color: #fff;
    z-index: 8;
}

.home .titulo {
    font-size: 2em;
}

.home .subtitulo {
    z-index: 8;
    display: inline-flex;   
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 1.8rem;   
}
.titulo-img {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.titulo-img  img{
    position: absolute;
    top: 25px;
    right: 30px;
    opacity: 1;
    width: 180px;
    border-radius: 90px;
    display:none;
}

a.link{
    font-weight: 300;
    margin: 0px 15px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.home .contatos {
    z-index: 8;
    display: none;
}
.nav-hamburguer .contatos{
    z-index: 8;
    display: flex;
    justify-content: center;
    align-content: center;
    color:#000;
    position: absolute;
    bottom: 50%;
    left: 30px;
}

.nav-hamburguer .contatos .link{
    color: #000;
}

.contatos .link {
    color: #fff;
    width: 25px;
}

.contatos .link:hover {
    color: rgb(255, 193, 0);
    transition: zoom ease-in-out .5s;
}

.box {
    position: relative;
    padding: 20px;
    z-index: 8;
    background: #000;
    color: #fff;
    opacity: .9;
}

.box h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.8rem;
    margin: 20px 0 10px;
}

.box p {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    line-height: 1.3em;
    font-size: 1rem;
}
.descricao-experiencias{
    line-height: 0em;
}

.descricao-experiencias .titulo_h3{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5em;
    margin: 30px 0 10px;
}

.descricao-experiencias .titulo_h4{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    margin: 20px 0 10px;
}

.descricao-experiencias .titulo_h5{
    font-family: 'Lexend Deca', sans-serif;
    font-size: .80em;
    margin: 20px 0 10px;
}

.footer {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2em;
    text-align: center;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #81ecec;
}

.hamburguer-menu {
    background: rgb(255, 193, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 15px;
    display: block;
    z-index: 9999;
}

.hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 25px;
    height: 2px;
    top: 25px;
    left: 12px;
    transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #fff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ .nav-hamburguer{
    display: block;
    z-index: 9;
}

.nav-hamburguer{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display:none;
    color: #000;
}