html, body {
    padding: 0;
    margin: auto;
}

body {
    font-family: "Montserrat", 'Courier New', Courier, monospace;
	overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}

.div-vazia {
    height: 50px;
}

section img {
    position: fixed;
    z-index: 1;
}

.container .menu {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgb(68, 230, 221);
    text-align: center;
    z-index: 9;
}

.links{
    margin: 10px 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
}

.link-a {
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
    padding: 5px;
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.link-a:hover {
    color: #000;
    transition: ease-in-out .8s;
    background: #fff;
}

.navegacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home {
    height: 650px;
}

.home .titulo , .contatos{
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 900;
    font-size: 3em;
    color: #fff;
    z-index: 8;
}

.home .titulo {
    font-size: 7em;
}

.home .subtitulo {
    z-index: 8;
    display: inline-flex;   
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 2.5em;   
}
.titulo-img {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.titulo-img  img{
    position: relative;
    width: 180px;
    border-radius: 90px;
}

a.link{
    font-weight: 300;
    margin: 0px 15px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contatos{
    z-index: 8;
}

.contatos .link {
    color: #fff;
}

.contatos .link:hover {
    color: rgb(68, 230, 221);
    transition: ease-in-out .5s;
}

.box {
    padding: 50px;
    z-index: 8;
    background: #fff;
    opacity: .8;
}

.box h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3em;
}

.box p {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 1.5em;
}
.descricao-experiencias{
    line-height: .1em;
}

.descricao-experiencias .titulo_h3{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5em;
}

.descricao-experiencias .titulo_h4{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
}

.descricao-experiencias .titulo_h5{
    font-family: 'Lexend Deca', sans-serif;
    font-size: .80em;
}

.footer {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2em;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .home {
        height: 800px;
    }
}

@media screen and (max-width: 960px){
    .home .titulo {
        font-size: 5em;
    }

    section {
        margin: 20px 40px;
    }
}

@media screen and (max-width: 760px){
    .link-a {
        font-size: 1em;
    }

    section {
        margin: 50px 40px;
    }
}

@media screen and (max-width: 500px){
    .home .titulo {
        font-size: 3.5em;
    }

    .home .titulo , .contatos {
        font-size: 3em;
    }

    .container .menu {
        opacity: 0;
    }

    .titulo-img img {
        display: none;
    }

    .box h2 {
        font-size: 2em;
    }
    
    .box p {
        line-height: 2em;
        font-size: 1em;
    }
    .descricao-experiencias{
        line-height: .1em;
    }
    
    .descricao-experiencias .titulo_h3{
        font-size: 1em;
    }
    
    .descricao-experiencias .titulo_h4{
        font-size: 1em;
    }
    
    .descricao-experiencias .titulo_h5{
        font-size: 1em;
    }
    
    .footer {
        font-size: 1.1em;
        text-align: center;
    }

    section {
        margin: 50px 20px;
    }
}

@media screen and (max-width: 360px){
    .home .titulo , .contatos {
        font-size: 2.5em;
    }

    .container .menu {
        opacity: 0;
    }

    .home {
        height: 420px;
    }

    .home .contatos {
        margin: 0;
        font-size: 3em;
    }

    a.link {
        margin: 0px 10px;
    }

    .box {
        padding: 40px;
    }
    
    .box h2 {
        font-size: 1.7em;
    }
    
    .box p {
        line-height: 2em;
        font-size: 1em;
	    text-align: center;
    }

    .titulo-img {
        flex-direction: column;
        align-items: center;
    }

    .titulo-img img {
        width: 100px;
    }
	
    .descricao-experiencias{
        line-height: .1em;
    }
    
    .descricao-experiencias .titulo_h3 {
        font-size: 1em;
    }
    
    .descricao-experiencias .titulo_h4 {
        font-size: 1em;
    }
    
    .descricao-experiencias .titulo_h5 {

        font-size: 1em;
    }
    
    .footer {
        font-size: 1.1em;
        text-align: center;
    }

    section {
        margin: 20px 0px;
    }
}
