@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  color: var(--foreground);
  background: #030712;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
