body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #191919;
}

#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.link {
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.text {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.title {
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
